<%- include("./includes/head", {pageTitle: "an error accures"}) %>

</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>Could not resource</h1>
        <p>please try again later</p>
        <p><a href="/" class="btn">back to safety!</a>
        </p>
    </main>
    
<%- include("./includes/footer") %>